<!DOCTYPE html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% load menu_tags %}
<html>
<head>

    {% load i18n %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>{% translate 'Task manager Hexlet' %}</title>
</head>
<body class="d-flex flex-column min-vh-100">

{% block mainmenu %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md align-self-center">
            <div class="d-flex flex-row bd-highlight">
                <nav class="nav nav-tabs">
                    {% main_menu authorized=request.user.is_authenticated as menu %}
                    {% for m in menu %}
                    <li class="nav-item">
                        <a class="nav-link {{ m.active }}" href="{% url m.path %}">{{ m.title }}</a>
                    </li>
                    {% endfor %}
                </nav>
            </div>
        </div>

        <div class="col-sm">
            <div class="d-flex flex-row-reverse bd-highlight">
                <nav class="nav nav-tabs">
                    {% login_menu authorized=request.user.is_authenticated as l_menu %}
                    {% for m in l_menu %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url m.path %}">{{ m.title }}</a>
                    </li>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock mainmenu %}
<div class="container mt-5 pt-4">
    {% bootstrap_messages %}
        {% block title %}

     <h1 class="my-4">{% translate title %}</h1>
        {% endblock title %}
 </div>
<div class="container wrapper flex-grow-1 bd-highlight">

{% block content %}
    <p>{{ message }}</p>
    {% block filter %}
    {% endblock filter %}


{% endblock content %}
</div>
<footer>
{% block footer %}
    <div class="container my-5 pt-4 border-top">
        <a href="https://ru.hexlet.io" target="_blank">
        Hexlet
        </a>
    </div>
{% endblock footer %}
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>