{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
<form method="post">

    {% for f in form %}
        <div class="form-group">
        <label class="form-label" for ="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
            <div class="form-error text-danger">{{ f.errors }}</div>
        {% if f.help_text %}
        <small class="form-text text-muted">{{ f.help_text }}</small>
        {% endif %}

        </div>
    {% endfor %}
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value='{% translate btn_name %}'>
    </div>
</form>


{% endblock content %}