{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}


{% block content %}


{% if create_path %}
<a class="nav-link" href={% url create_path %}>{{ create_path_name }}</a>
{% endif %}

<table class="table table-striped table-bordered table-hover table-sm table-responsive-md">
    <thead class="table-primary" scope="col">
        {% for t_head in table_heads %}
        <th scope="col">{{ t_head }}</th>
        {% endfor %}
        <th></th>
    </thead>
    <tbody>
    {% for u in table %}
        <tr class="">
            {% for c in u %}
            <td>{{ c }}</td>
            {% endfor %}
            <th scope="row">
                <a href={% url update_link u.id %}>{% translate 'Change' %}</a>
                <br>
                <a href={% url delete_link  u.id %}>{% translate 'Delete' %}</a>
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}