<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Task manager Hexlet</title>
</head>
<body class="bg-light">
<header class="container-fluid navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-primary font-weight-bold">
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item pl-5">
                <a class="nav-link active " href="#">Task Manager</a>
            </li>
            <li class="nav-item pl-5">
                <a class="nav-link" href="#">Users</a>
            </li>
            <li class="nav-item pl-5">
                <a class="nav-link" href="#">Statuses</a>
            </li>
            <li class="nav-item pl-5">
                <a class="nav-link" href="#">Labels</a>
            </li>
            <li class="nav-item pl-5">
                <a class="nav-link" href="#">Task</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto">
        <li>
            <a></a>
        </li>
    </ul>
    <div class="btn-toolbar" role="toolbar" aria-label="Basic example">
        <button type="button" class="btn btn-outline-warning ml-md-3 pr-3" href="#">Register</button>
        <button type="button" class="btn btn-outline-warning ml-md-3 font-weight-bold pr-3" href="#">Login</button>
    </div>
</header>
<div class="container-fluid pt-5">
    <div class="row pt-5">
        <div class="col-md-2 bd-sidebar border border-info rounded-bottom">
            <p class=""mb-3></p>
            <nav class="col8 offset-1 ">

                <a class="pb-5 mt-5 ml-3 mb-1 text-primary" href="#">Users</a>
                <br>
                <br>
                <a class="mt-2 pt-2 ml-3 mb-1 text-primary">Labels</a>
                <ul class="navbar-nav bd-navbar-nav flex-column">
                    <li class="nav-item pl-5">
                        <a class="nav-link text-secondary" href="#">list</a>
                    </li>
                    <li class="nav-item pl-5">
                        <a class="nav-link text-secondary" href="#">create</a>
                    </li>
                </ul>
                <p class="mt-1 ml-3 mb-1 text-primary">Statuses</p>
                <ul class="navbar-nav bd-navbar-nav flex-column">
                    <li class="nav-item pl-5">
                        <a class="nav-link text-secondary" href="#">list</a>
                    </li>
                    <li class="nav-item pl-5">
                        <a class="nav-link text-secondary" href="#">create</a>
                    </li>
                </ul>
                <p class="mt-1 ml-3 mb-1 text-primary">Tasks</p>
                <ul class="navbar-nav bd-navbar-nav flex-column">
                    <li class="nav-item pl-5">
                        <a class="nav-link text-secondary" href="#">list</a>
                    </li>
                    <li class="nav-item pl-5">
                        <a class="nav-link text-secondary" href="#">create</a>
                    </li>
                    <li class="nav-item pl-5">
                        <a class="nav-link text-secondary" href="#">own tasks</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-1">
            </div>
        <div class="col-md-6 border border-info rounded-bottom">
            <div class="row pt-5">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <div class="card ">
                        <div class="card-header bg-primary text-light">
                            <h1>Привет от Хекслета!</h1>
                        </div>
                        <div class="card-bordy mr-2 pt-5 mb-5 ">
                            <h5 class="ml-5">    Практические курсы по программированию</h5>


                            <a class="btn btn-success mt-5 ml-5" href="https://ru.hexlet.io/" role="button">Lear more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>